.container{
	width:1200px;
	padding: 20px;
	text-align:justify;
	margin:auto;
}
.paper, .video{
	text-align:center;
}
.title{
	font-weight: bold;
}
.authors, .venue{
	font-size:14pt;
}
.abstract{
	text-align:justify;
}
iframe{
	margin:auto;
}
.content{
	text-align:justify;
}
.affiliation, .footnote{
	font-size:11pt;
}

td{
	padding:2px;
	text-align:left;
}
